<hr style="width: 100%;">
<h1 class="web_title">{{title}}</h1>
<hr style="width: 100%;">

{{!-- <form id="search_form">
    <label>Search for: </label>
    <input type="text" name="search" placeholder="Enter search term"/>
    <input type="submit" value="Search">
</form> --}}
<div class="splash">
    <h1 class="fade-in">Welcome to your Memory Bank!</h1>
    <h2 class="fade-in">In here is where you will store all your precious memories!</h2>
    <h2 class="fade-in">Use the new memory button on the bottom of the screen to post your own memories!</h2>
</div>

<div class="filter-container">
    <button class="filter-button" data-emotion="all">All</button>
    <button class="filter-button" data-emotion="happy">Happy</button>
    <button class="filter-button" data-emotion="sad">Sad</button>
    <button class="filter-button" data-emotion="angry">Angry</button>
    <button class="filter-button" data-emotion="nostalgic">Nostalgic</button>
</div>

<div class="memories_container">
    {{#each memories}}
    <div class="card">
        <div class="content">
            <div class="memory" id="{{this._id}}">
                <h3 class="title">{{this.title}}</h3>
                <img class="image" src={{this.imageUrl}} alt="post image">
                <h5 class="emotion"> {{this.emotion}}</h5>
                <p class="description">{{this.description}}</p>
                <p class="author">By: {{this.author}}</p>
                <h5 class="date">{{this.date}}</h5>
                <button class="edit_button">Edit</button>
                <button class="delete_button">Delete</button>
            </div>
        </div>
    </div>
    {{/each}} 
    <script type="text/javascript" src="/javascripts/vanilla-tilt.js"></script>
    <script>
        //Intro stuff ref - https://www.youtube.com/watch?v=MOlaldp1Fv4
        const splash = document.querySelector('.splash')

        document.addEventListener('DOMContentLoaded', (e) =>{
            setTimeout(() => {
                splash.classList.add('display-none');
            }, 5000);
        })
        //JS for glare on cards
        VanillaTilt.init(document.querySelectorAll(".card"),{
		max: 25,
		speed: 400,
        glare: true, 
        "max-glare": 1,
	});
    </script>
</div>

<div class="new_memory_form">
    <form id="form">
        <h3>Create New Memory</h3>
        <select id="emotion" name="emotion">
            <option value="happy">Happy</option>
            <option value="sad">Sad</option>
            <option value="angry">Angry</option>
            <option value="nostalgic">Nostalgic</option>
        </select>
        <input type="text" name="title" placeholder="Title" required><br>
        <input type="text" name="description" placeholder="Description" required><br>
        <input type="text" name="author" placeholder="By" required><br>
        <input type="file" name="image" accept="image/*" required>
        <input id="submit_button" type="submit" value="Create Memory">
    </form>
</div>